# Importing Libraries

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Data Loading and Overview

In [3]:
df = pd.read_csv('Data/bazarya_price_data.csv')

In [4]:
df.head()

,date,product,category,price,unit,market_name,region,woreda,price_type
0,2023-02-26,Millet,Cereal,1407.95,quintal,Jimma,SNNPR,North Shewa,Retail
1,2023-05-05,Hot pepper,Vegetable,1334.51,quintal,Bahir Dar,Oromia,Wolaita,Wholesale
2,2023-12-03,Sugar (local),Processed Food,245.54,kg,Jimma,Tigray,Basketo,Wholesale
3,2024-06-08,Fava beans,Other,132.15,kg,Wolkite,SNNPR,Kaffa,Farmgate
4,2024-01-05,Nifro,Other,1619.45,quintal,Gonder,Tigray,Bole,Retail

In [5]:
df['category'].value_counts()

category
Processed Food    1824
Vegetable         1769
Animal Product    1756
Fruit             1746
Cereal            1720
Other             1712
Name: count, dtype: int64

In [7]:
df.isnull().sum()

date           0
product        0
category       0
price          0
unit           0
market_name    0
region         0
woreda         0
price_type     0
dtype: int64

# Data Preprocessing

In [10]:
df['date'] = pd.to_datetime(df['date'])

In [12]:
df = df.sort_values('date')

In [13]:
df.head()

,date,product,category,price,unit,market_name,region,woreda,price_type
7777,2023-01-01,Sugar (local),Processed Food,2161.23,quintal,Jimma,Amhara,Jimma Town,Wholesale
9766,2023-01-01,Sugar (local),Processed Food,1226.75,quintal,Shola,Addis Ababa,Bole,Retail
868,2023-01-01,Yogurt,Animal Product,1490.15,quintal,Hossana,Southwest Ethiopia,Basketo,Farmgate
6281,2023-01-01,Papaya,Fruit,168.28,kg,Gonder,Addis Ababa,Bole,Farmgate
2013,2023-01-01,Goat meat,Animal Product,67.78,kg,Jimma,Oromia,Kolfe,Retail