# Importing Libraries

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Data Loading and Overview

In [3]:
df = pd.read_csv('Data/bazarya_price_data.csv')

In [4]:
df.head()

,date,product,category,price,unit,market_name,region,woreda,price_type
0,2023-02-26,Millet,Cereal,1407.95,quintal,Jimma,SNNPR,North Shewa,Retail
1,2023-05-05,Hot pepper,Vegetable,1334.51,quintal,Bahir Dar,Oromia,Wolaita,Wholesale
2,2023-12-03,Sugar (local),Processed Food,245.54,kg,Jimma,Tigray,Basketo,Wholesale
3,2024-06-08,Fava beans,Other,132.15,kg,Wolkite,SNNPR,Kaffa,Farmgate
4,2024-01-05,Nifro,Other,1619.45,quintal,Gonder,Tigray,Bole,Retail

In [5]:
df['category'].value_counts()

category
Processed Food    1824
Vegetable         1769
Animal Product    1756
Fruit             1746
Cereal            1720
Other             1712
Name: count, dtype: int64